
<!DOCTYPE html>
<html>
<title>Job Recommendation Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div align="center">
	<header class="w3-container w3-teal">
	  <h1>A recommended job list based on the skills in your resume</h1>
	</header>
</div>

<form align="center" method="post" action="">
	<p class="w3-container">Paste your skill keywords below-for example, python, aws, linux.</p>    
	 
	<textarea autofocus rows="8" cols="60" placeholder="python, aws, linux" name="resume" id="resume">
	</textarea>
	<p><button type="submit" class="btn btn-primary">Submit & Get job list</button></p>

	<footer>
		<h5>The top 10 jobs recommended for you:</h5>
		<p>A job list table with job title, location, company, matching score, link to apply</p>
	</footer>
</form>
</body>
</html>


