
<!DOCTYPE html>
<html>
<title>Job Recommendation Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div align="center">
	<header class="w3-container w3-teal">
	  <h1>Calculate your matching score!</h1>
	</header>
</div>

<form align="center" method="post" action="">
	<p class="w3-container">The required skills key words in job description and your resume can be extracted. We'll calculate the matching score to let your know whether you have a good chance or not.
	</p>    

	<textarea autofocus rows="8" cols="60"  placeholder="job description"  name="job_description" id="job_description">
	</textarea>
	 
	<textarea autofocus rows="8" cols="60" placeholder="resume" name="resume" id="resume">
	</textarea>
	<p><button type="submit" class="btn btn-primary">Submit & Calculate</button></p>

	<footer>
		<h5>The matching score is:</h5>
		<p>Score goes here</p>
	</footer>
</form>
</body>
</html>


